<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
	
	<object id="AwsClientObj" type="Ser.Aws.AwsClient, Ser.Aws"/>

	<object id="SetProfileForm" type="Ser.Ea.Addin.Aws.SetProfileForm, Ser.Aws">
		<property name="AwsClient" ref="AwsClientObj"/>
	</object>

	<object id="AboutForm" type="Ser.Ea.Addin.Aws.AboutForm, Ser.Aws"/>

	<object id="AwsRepositoryObj" type="Ser.Aws.AwsRepository, Ser.Aws">
		<property name="AwsClient" ref="AwsClientObj"/>
	</object>

	<object id="AwsModelCacheObj" type="Ser.Ea.Addin.Aws.AwsModelCache, Ser.Aws"/>
	
	<object id="AwsModellerObj" type="Ser.Ea.Addin.Aws.AwsModeller, Ser.Aws">
		<property name="AwsModelCache" ref="AwsModelCacheObj"/>
	</object>

	<object id="WorkItemQueueObj" type="System.Collections.Generic.Queue&lt;Ser.Ea.Addin.Aws.IWorkItem>"/>
		
	<object id="WorkItemFactoryObj" type="Ser.Ea.Addin.Aws.WorkItemFactory, Ser.Aws"/>

	<object id="WorkItemProcessorObj" type="Ser.Ea.Addin.Aws.WorkItemProcessor, Ser.Aws">
		<property name="WorkItemQueue" ref="WorkItemQueueObj"/>
		<property name="WorkItemFactory" ref="WorkItemFactoryObj"/>
		<property name="AwsRepository" ref="AwsRepositoryObj"/>
		<property name="AwsModeller" ref="AwsModellerObj"/>
	</object>

	<object id="AwsImporterObj" type="Ser.Aws.AwsImporter, Ser.Aws">
		<property name="WorkItemQueue" ref="WorkItemQueueObj"/>
		<property name="WorkItemFactory" ref="WorkItemFactoryObj"/>
		<property name="WorkItemProcessor" ref="WorkItemProcessorObj"/>
	</object>
	
</objects>